<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <link href="{% static 'login/style.css' %}" rel="stylesheet">

</head>
<body>
<div class="login-page">
    <div class="form">
        <form class="login-form" method="post">
            {% csrf_token %}
            <p class="message">{{ form.non_field_errors }}</p>
            {% for f in form %}
                {{ f }}
                <div>{{ f.errors }}</div>
            {% endfor %}
            <button type="submit">Log Up</button>
            <p class="message"><a href="{% url 'users:login' %}">Log IN</a></p>
            <p class="message"><a href="{% url 'main-page' %}">Return to home page</a></p>
        </form>
    </div>
</div>
</body>
</html>