<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="{% url 'main-page' %}"><h2>FOOTBAl<em>.</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'main-page' %}">football news
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'stats:home' %}">football stats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="blog.html">Store</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About us</a>
                    </li>

                    {% if user.is_authenticated %}
                        <li>
                            <div class="main-button" style="margin-right: 10px">
                                <a rel="nofollow" href="#" target="_parent">{{ user.username }}</a>
                            </div>
                        </li>
                        <li>
                            <div class="main-button" style="margin-right: 10px">
                                <a rel="nofollow" href="{% url 'users:logout' %}" target="_parent">Log Out</a>
                            </div>
                        </li>
                        {% if user.is_staff %}
                            <li>
                                <div class="main-button" style="margin-right: 10px">
                                    <a rel="nofollow" href="/admin" target="_parent">Admin Panel</a>
                                </div>
                            </li>
                        {% endif %}
                    {% else %}
                        <li>
                            <div class="main-button" style="margin-right: 10px">
                                <a rel="nofollow" href="{% url 'users:login' %}" target="_parent">Log In</a>
                            </div>
                        </li>
                        <li>
                            <div class="main-button">
                                <a rel="nofollow" href="{% url 'users:logup' %}" target="_parent">Registration</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
