{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="main-banner header-text">
        <div class="container-fluid">
            <div class="owl-banner owl-carousel owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage"
                         style="transform: translate3d(-1062px, 0px, 0px); transition: all 0s ease 0s; width: 4248px;">
                        <div class="owl-item cloned" style="width: 344px; margin-right: 10px;">
                            <div class="item">
                                <div class="item-content">
                                    <div class="main-content">
                                        <div class="meta-category">
                                            <span>Fashion</span>
                                        </div>
                                        <a href="post-details.html"><h4>Responsive and Mobile Ready Layouts</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">Admin</a></li>
                                            <li><a href="#">May 18, 2020</a></li>
                                            <li><a href="#">48 Comments</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 344px; margin-right: 10px;">
                            <div class="item">
                                <div class="item-content">
                                    <div class="main-content">
                                        <div class="meta-category">
                                            <span>Nature</span>
                                        </div>
                                        <a href="post-details.html"><h4>Cras congue sed augue id ullamcorper</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">Admin</a></li>
                                            <li><a href="#">May 24, 2020</a></li>
                                            <li><a href="#">64 Comments</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 344px; margin-right: 10px;">
                            <div class="item">
                                <div class="item-content">
                                    <div class="main-content">
                                        <div class="meta-category">
                                            <span>Lifestyle</span>
                                        </div>
                                        <a href="post-details.html"><h4>Suspendisse nec aliquet ligula</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">Admin</a></li>
                                            <li><a href="#">May 26, 2020</a></li>
                                            <li><a href="#">72 Comments</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 344px; margin-right: 10px;">
                            <div class="item">
                                <div class="item-content">
                                    <div class="main-content">
                                        <div class="meta-category">
                                            <span>Fashion</span>
                                        </div>
                                        <a href="post-details.html"><h4>Morbi dapibus condimentum</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">Admin</a></li>
                                            <li><a href="#">May 12, 2020</a></li>
                                            <li><a href="#">12 Comments</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 344px; margin-right: 10px;">
                            <div class="item">
                                <div class="item-content">
                                    <div class="main-content">
                                        <div class="meta-category">
                                            <span>Nature</span>
                                        </div>
                                        <a href="post-details.html"><h4>Donec porttitor augue at velit</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">Admin</a></li>
                                            <li><a href="#">May 14, 2020</a></li>
                                            <li><a href="#">24 Comments</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 344px; margin-right: 10px;">
                            <div class="item">
                                <div class="item-content">
                                    <div class="main-content">
                                        <div class="meta-category">
                                            <span>Lifestyle</span>
                                        </div>
                                        <a href="post-details.html"><h4>Best HTML Templates on TemplateMo</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">Admin</a></li>
                                            <li><a href="#">May 16, 2020</a></li>
                                            <li><a href="#">36 Comments</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 344px; margin-right: 10px;">
                            <div class="item">
                                <div class="item-content">
                                    <div class="main-content">
                                        <div class="meta-category">
                                            <span>Fashion</span>
                                        </div>
                                        <a href="post-details.html"><h4>Responsive and Mobile Ready Layouts</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">Admin</a></li>
                                            <li><a href="#">May 18, 2020</a></li>
                                            <li><a href="#">48 Comments</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 344px; margin-right: 10px;">
                            <div class="item">
                                <div class="item-content">
                                    <div class="main-content">
                                        <div class="meta-category">
                                            <span>Nature</span>
                                        </div>
                                        <a href="post-details.html"><h4>Cras congue sed augue id ullamcorper</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">Admin</a></li>
                                            <li><a href="#">May 24, 2020</a></li>
                                            <li><a href="#">64 Comments</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 344px; margin-right: 10px;">
                            <div class="item">
                                <div class="item-content">
                                    <div class="main-content">
                                        <div class="meta-category">
                                            <span>Lifestyle</span>
                                        </div>
                                        <a href="post-details.html"><h4>Suspendisse nec aliquet ligula</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">Admin</a></li>
                                            <li><a href="#">May 26, 2020</a></li>
                                            <li><a href="#">72 Comments</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 344px; margin-right: 10px;">
                            <div class="item">
                                <div class="item-content">
                                    <div class="main-content">
                                        <div class="meta-category">
                                            <span>Fashion</span>
                                        </div>
                                        <a href="post-details.html"><h4>Morbi dapibus condimentum</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">Admin</a></li>
                                            <li><a href="#">May 12, 2020</a></li>
                                            <li><a href="#">12 Comments</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 344px; margin-right: 10px;">
                            <div class="item">
                                <div class="item-content">
                                    <div class="main-content">
                                        <div class="meta-category">
                                            <span>Nature</span>
                                        </div>
                                        <a href="post-details.html"><h4>Donec porttitor augue at velit</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">Admin</a></li>
                                            <li><a href="#">May 14, 2020</a></li>
                                            <li><a href="#">24 Comments</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 344px; margin-right: 10px;">
                            <div class="item">
                                <div class="item-content">
                                    <div class="main-content">
                                        <div class="meta-category">
                                            <span>Lifestyle</span>
                                        </div>
                                        <a href="post-details.html"><h4>Best HTML Templates on TemplateMo</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">Admin</a></li>
                                            <li><a href="#">May 16, 2020</a></li>
                                            <li><a href="#">36 Comments</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-nav">
                    <button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span>
                    </button>
                    <button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button>
                </div>
                <div class="owl-dots">
                    <button role="button" class="owl-dot active"><span></span></button>
                    <button role="button" class="owl-dot"><span></span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2>Ваша корзина</h2>
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">

                        <table>
                            <thead>
                            <tr>
                                <th>фото
                                <th>Название
                                <th>Стоймость
                                <th>Кол-во
                                <th>Сумма
                            </thead>
                            <tbody>
                            {% for item in cart %}
                                <tr>
                                <td>{% if item.goods.photo %}
                                    <img src="{{ item.goods.photo.url }}" width="80" height="50">
                                {% else %}
                                    <img src="{% static 'default/lfc-logo.jpg' %}" width="80" height="50" alt="">
                                {% endif %}
                                <td>{{ item.goods.name }}
                                <td>{{ item.goods.price }} $
                                <td><a rel="nofollow" href="{% url 'shop:decrease' item.goods.slug %}">-</a>
                                    <button type="button" class="btn btn-warning"
                                            style="margin-right: 10px; margin-left: 10px">{{ item.quantity }}</button>
                                    <a rel="nofollow" href="{% url 'shop:add-to-cart' item.goods.slug %}">+</a>
                                <td>{{ item.total_price }} $
                                <td>
                                <div class="main-button" style="margin-top: 10px">
                                    <a rel="nofollow" href="{% url 'shop:remove' item.goods.slug %}">Удалить</a>
                                </div>

                            {% endfor %}
                            <tr>
                                <td>
                                <td>
                                <td>
                                <td>Сумма
                                <td>{{ total }} $
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active" style="margin-top: 20px">
                        <div class="main-button">
                            <a href="{% url 'shop:clear' %}">Очистить корзину</a>
                        </div>
                    </li>
                    <li class="nav-item active" style="margin-top: 20px">
                        <div class="main-button">
                            <a href="{% url 'shop:order' %}">Оформить заказ</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}