{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="main-banner header-text">
        <div class="container-fluid">
            <div class="owl-banner owl-carousel owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage"
                         style="transform: translate3d(-1062px, 0px, 0px); transition: all 0s ease 0s; width: 4248px;">
                        <div class="owl-item cloned" style="width: 344px; margin-right: 10px;">
                            <div class="item">
                                <div class="item-content">
                                    <div class="main-content">
                                        <div class="meta-category">
                                            <span>Fashion</span>
                                        </div>
                                        <a href="post-details.html"><h4>Responsive and Mobile Ready Layouts</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">Admin</a></li>
                                            <li><a href="#">May 18, 2020</a></li>
                                            <li><a href="#">48 Comments</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 344px; margin-right: 10px;">
                            <div class="item">
                                <div class="item-content">
                                    <div class="main-content">
                                        <div class="meta-category">
                                            <span>Nature</span>
                                        </div>
                                        <a href="post-details.html"><h4>Cras congue sed augue id ullamcorper</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">Admin</a></li>
                                            <li><a href="#">May 24, 2020</a></li>
                                            <li><a href="#">64 Comments</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 344px; margin-right: 10px;">
                            <div class="item">
                                <div class="item-content">
                                    <div class="main-content">
                                        <div class="meta-category">
                                            <span>Lifestyle</span>
                                        </div>
                                        <a href="post-details.html"><h4>Suspendisse nec aliquet ligula</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">Admin</a></li>
                                            <li><a href="#">May 26, 2020</a></li>
                                            <li><a href="#">72 Comments</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 344px; margin-right: 10px;">
                            <div class="item">
                                <div class="item-content">
                                    <div class="main-content">
                                        <div class="meta-category">
                                            <span>Fashion</span>
                                        </div>
                                        <a href="post-details.html"><h4>Morbi dapibus condimentum</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">Admin</a></li>
                                            <li><a href="#">May 12, 2020</a></li>
                                            <li><a href="#">12 Comments</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 344px; margin-right: 10px;">
                            <div class="item">
                                <div class="item-content">
                                    <div class="main-content">
                                        <div class="meta-category">
                                            <span>Nature</span>
                                        </div>
                                        <a href="post-details.html"><h4>Donec porttitor augue at velit</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">Admin</a></li>
                                            <li><a href="#">May 14, 2020</a></li>
                                            <li><a href="#">24 Comments</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 344px; margin-right: 10px;">
                            <div class="item">
                                <div class="item-content">
                                    <div class="main-content">
                                        <div class="meta-category">
                                            <span>Lifestyle</span>
                                        </div>
                                        <a href="post-details.html"><h4>Best HTML Templates on TemplateMo</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">Admin</a></li>
                                            <li><a href="#">May 16, 2020</a></li>
                                            <li><a href="#">36 Comments</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 344px; margin-right: 10px;">
                            <div class="item">
                                <div class="item-content">
                                    <div class="main-content">
                                        <div class="meta-category">
                                            <span>Fashion</span>
                                        </div>
                                        <a href="post-details.html"><h4>Responsive and Mobile Ready Layouts</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">Admin</a></li>
                                            <li><a href="#">May 18, 2020</a></li>
                                            <li><a href="#">48 Comments</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 344px; margin-right: 10px;">
                            <div class="item">
                                <div class="item-content">
                                    <div class="main-content">
                                        <div class="meta-category">
                                            <span>Nature</span>
                                        </div>
                                        <a href="post-details.html"><h4>Cras congue sed augue id ullamcorper</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">Admin</a></li>
                                            <li><a href="#">May 24, 2020</a></li>
                                            <li><a href="#">64 Comments</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 344px; margin-right: 10px;">
                            <div class="item">
                                <div class="item-content">
                                    <div class="main-content">
                                        <div class="meta-category">
                                            <span>Lifestyle</span>
                                        </div>
                                        <a href="post-details.html"><h4>Suspendisse nec aliquet ligula</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">Admin</a></li>
                                            <li><a href="#">May 26, 2020</a></li>
                                            <li><a href="#">72 Comments</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 344px; margin-right: 10px;">
                            <div class="item">
                                <div class="item-content">
                                    <div class="main-content">
                                        <div class="meta-category">
                                            <span>Fashion</span>
                                        </div>
                                        <a href="post-details.html"><h4>Morbi dapibus condimentum</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">Admin</a></li>
                                            <li><a href="#">May 12, 2020</a></li>
                                            <li><a href="#">12 Comments</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 344px; margin-right: 10px;">
                            <div class="item">
                                <div class="item-content">
                                    <div class="main-content">
                                        <div class="meta-category">
                                            <span>Nature</span>
                                        </div>
                                        <a href="post-details.html"><h4>Donec porttitor augue at velit</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">Admin</a></li>
                                            <li><a href="#">May 14, 2020</a></li>
                                            <li><a href="#">24 Comments</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 344px; margin-right: 10px;">
                            <div class="item">
                                <div class="item-content">
                                    <div class="main-content">
                                        <div class="meta-category">
                                            <span>Lifestyle</span>
                                        </div>
                                        <a href="post-details.html"><h4>Best HTML Templates on TemplateMo</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">Admin</a></li>
                                            <li><a href="#">May 16, 2020</a></li>
                                            <li><a href="#">36 Comments</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-nav">
                    <button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span>
                    </button>
                    <button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button>
                </div>
                <div class="owl-dots">
                    <button role="button" class="owl-dot active"><span></span></button>
                    <button role="button" class="owl-dot"><span></span></button>
                </div>
            </div>
        </div>
    </div>

    <section class="contact-us">
        <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    <div class="down-contact">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="sidebar-item contact-form">
                                    <div class="sidebar-heading">
                                        <h2>Оформление заказа</h2>
                                    </div>
                                    <div class="content">
                                        <form id="contact" action="" method="post">
                                            <div class="row">
                                                {% csrf_token %}
                                                <p class="message">{{ form.non_field_errors }}</p>
                                                {% for f in form %}
                                                    <div class="col-md-12 col-sm-12">
                                                        <fieldset>
                                                            {% if f.label == 'Доставка' %}
                                                            {% else %}
                                                                {{ f }}
                                                            {% endif %}
                                                        </fieldset>
                                                        <div>{{ f.errors }}</div>
                                                    </div>

                                                {% endfor %}
                                                <div class="col-lg-12">
                                                    <fieldset>
                                                        <button type="submit" id="form-submit" class="main-button">
                                                            Оформить
                                                        </button>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="sidebar-item contact-information">
                                    <div class="sidebar-heading">
                                        <h2>contact information</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li>
                                                <h5>090-484-8080</h5>
                                                <span>PHONE NUMBER</span>
                                            </li>
                                            <li>
                                                <h5>info@company.com</h5>
                                                <span>EMAIL ADDRESS</span>
                                            </li>
                                            <li>
                                                <h5>123 Aenean id posuere dui,
                                                    <br>Praesent laoreet 10660</h5>
                                                <span>STREET ADDRESS</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
{% endblock %}