{% extends 'base.html' %}
{% load static %}
{% load news_tags %}
{% load cache %}

{% block title %}
    {{ title }}
{% endblock %}

{% block categorys %}
    {% show_categories %}
{% endblock %}

{% block content %}
    <section class="blog-posts">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">

                            {% for item in news %}
                                <div class="col-lg-12">
                                    <div class="blog-post">
                                        <div class="blog-thumb">
                                            {% if item.photo %}
                                                <img src="{{ item.photo.url }}" alt="">
                                            {% else %}
                                                <img src="media/photos/default_img.jpeg" alt="">
                                            {% endif %}
                                        </div>
                                        <div class="down-content">
                                            <span class="my-span"><a
                                                    href="{{ item.category.get_absolute_url }}">{{ item.category }}</a></span>
                                            <a href="{{ item.get_absolute_url }}"><h4>{{ item.title }}</h4></a>
                                            <ul class="post-info"
                                                style="margin-bottom: 25px; border-bottom: 1px solid #eee; padding-bottom: 25px">
                                                <li><a href="#">{{ item.author }}</a></li>
                                                <li><a href="#">{{ item.created_at|date:'d M, Y H:i' }}</a></li>
                                                <li><a href="#">views: {{ item.views }}</a></li>
                                            </ul>
                                            {{ item.content|truncatewords:40|safe }}
                                            <div class="post-options"
                                                 style="margin-top: 25px; border-top: 1px solid #eee; padding: 25px">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <ul class="post-tags">
                                                            <li><i class="fa fa-tags"></i></li>
                                                            {% for tag in item.tag.all %}
                                                                <li>
                                                                    <a href="{{ tag.get_absolute_url }}">#{{ tag.name }}</a>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="row">
                            {% popular_news %}
                            {% tag_clouds %}
                            {% sidebar_categories %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if page_obj.has_other_pages %}
        <div class="col-lg-8">
            <ul class="page-numbers">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-double-left"></i></a>
                    </li>
                {% endif %}

                {% for p in page_obj.paginator.page_range %}
                    {% if p <= page_obj.number|add:2 and p >= page_obj.number|add:-2 %}
                        {% if p == page_obj.number %}
                            <li class="active"><a href="?page={{ p }}">{{ p }}</a></li>
                        {% else %}
                            <li><a href="?page={{ p }}">{{ p }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-double-right"></i></a>
                    </li>
                {% endif %}





                {#                            <li><a href="#">1</a></li>#}
                {#                            <li class="active"><a href="#">2</a></li>#}
                {#                            <li><a href="#">3</a></li>#}
                {#                            #}
                {#                            <li><a href="#"><i class="fa fa-angle-double-left"></i></a></li>#}

            </ul>
        </div>
    {% endif %}
{% endblock %}